@keyframes slideRight {
	0% {
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes slideBottom {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
	background-color: beigeKO;
}
.header {
	position: sticky;
	/* background-color: rgba(127, 255, 212, 0.7); */
	background-color: rgba(135, 207, 235, 0.6);
	top: 0;
	left: 0;
	width: 100%;
	/* background:transparent; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	padding: 0 30px;
	height: 80px;
	border-bottom: solid #190952;
	backdrop-filter: blur(15px);
}

.logo {
	position: relative;
	padding-top: 2px;
	text-decoration: none;
	font-weight: 600;
	animation: slideRight 1s ease forwards;
	height: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.logoimg {
	height: 60%;
	width: 40%;
}
.compname {
	color: #2d4356;
	font-size: 15px;
}
.navbar a {
	padding: 5px 10px;
	border-radius: 10px;
	display: inline-block;
	font-size: 25px;
	color: #2d4356;
	text-decoration: none;
	font-weight: 500;
	margin-left: 35px;
	transition: 0.4s;
	opacity: 0;
	animation: slideBottom 0.5s ease forwards;
	animation-delay: calc(0.2s * var(--i));
	text-decoration: none;
	transition: all 0.5s;
}
.navbar a:hover {
	text-decoration: underline;
	color: #190952;
}
.navbar .active {
	color: #fff;
	background-color: #347e88cc;
}
.home {
	position: relative;
	/* width: 100%; */
	justify-content: center;
	/* height: 85vh; */
	background: url(elec/bg.jpeg);
	background-color: rgb(186, 186, 186);
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center;
	display: flex;
	padding: 15px 0;
	padding-left: 5%;
}
.home-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.homecontent {
	color: #190952;
	padding: 20px 20px;
	border-left: 15px double #190952;
	opacity: 0;
	animation: slideBottom 0.5s ease forwards;
	animation-delay: 1s;
	align-content: center;
}
.homecontent h1 {
	font-size: 40px;
}
.homecontent h4 {
	font-size: 20px;
}
.pptbottom {
	display: flex;
	padding-left: 12%;
}
.pimg {
	opacity: 0;
	animation: slideRight 0.5s ease forwards;
	animation-delay: calc(0.2s * var(--i));
	width: 40px;
	margin: 10px;
}

.info {
	padding: 5px;
	overflow: auto;
	border: solid rgb(2, 2, 90);
	border-width: 2px 0;
	font-size: 20px;
	font-weight: 600;
}

.about {
	background-color: #081b29;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 10px;
	color: azure;
	padding-top: 30px;
	padding-bottom: 30px;
}
.about-text {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.about-text h1 {
	font-size: 60px;
	text-decoration: underline;
}
.about-text h1 span {
	color: skyblue;
	text-decoration: underline;
}
.about-text h2 {
	font-family: "Times New Roman", Times, serif;
	font-size: 30px;
	color: white;
	margin: 5px 0;
}
.about-text h3 {
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	color: skyblue;
	margin-bottom: 15px;
}
.about-text p {
	color: aliceblue;
	font-size: 20px;
	font-family: "EB Garamond", serif;
	text-align: center;
	font-weight: 500;
	padding: 0 60px;
}
.btn-box {
	display: flex;
	justify-content: center;
	margin: 30px 0;
	margin-top: -5px;
	border-radius: 40px;
	cursor: pointer;
}
.btn-box p.btn {
	padding: 12px 30px;
	background: skyblue;
	border-radius: 40px;
	color: #081b29;
	letter-spacing: 1px;
	text-decoration: none;
	font-weight: 700;
	font-size: 20px;
	cursor: pointer;
	/* box-shadow: 0 0 20px #0ef; */
	transition: all 0.3s;
}
p.btn:hover {
	background: #081b29;
	color: skyblue;
	border: solid;
	box-shadow: 0 10px 25px skyblue;
	border-radius: 40px;
}
.about img {
	padding-right: 50px;
}

.products {
	background: rgb(8, 27, 41);
	background: linear-gradient(
		180deg,
		rgba(8, 27, 41, 1) 0%,
		rgba(60, 166, 165, 1) 40%,
		rgba(255, 255, 255, 1) 90%
	);
	background-size: cover;
	padding: 20px;
	/* height: 300px; */
	/* z-index: 0; */
}

.products h1 {
	padding: 30px;
	/* color: aquamarine; */
	color: aliceblue;
	font-size: 50px;
	text-align: center;
	text-decoration: underline;
}

.items {
	display: flex;
	justify-content: space-evenly;
}

.card {
	position: relative;
	width: 300px;
	height: 200px;
	transition: transform 0.5s;
	transform-style: preserve-3d;
	cursor: pointer;
	border-radius: 25px;
	background-color: white;
}

.card img {
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.front {
	position: absolute;
	height: 100%;
	width: 100%;
	/* box-shadow: 0px 0px 10px white; */
	backface-visibility: hidden;
	border: solid black;
	border-radius: 10%;
	overflow: hidden;
}

.back {
	border: solid black;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	/* box-shadow: 0px 0px 10px white; */
	text-align: center;
	backface-visibility: hidden;
	border-radius: 10%;
	background: #72d2df;
}
.back p {
	color: white;
	font-weight: 800;
	text-transform: uppercase;
	background: #081b29;
	transition: all 0.4s;
	padding: 5px;
}
.back p:hover {
	transform: scale(1.2);
	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	color: whitesmoke;
	background: #190952;
}

.card:hover,
.back {
	transform: rotatey(-180deg);
}
.items div .card + p {
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	font-size: 18px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
summary {
	color: #081b29;
	font-size: 20px;
	font-weight: 600;
	font-family: "EB Garamond", serif;
	margin: 10px;
	padding: 10px;
	text-decoration: underline;
	text-transform: uppercase;
	cursor: pointer;
}
/*
.products svg {
	position: absolute;
	bottom: 0;
	z-index: -1;
} */

.director {
	padding: 40px;
	/* padding-bottom: 50px; */
	background: linear-gradient(
		rgba(255, 255, 255, 1) 25%,
		rgba(60, 166, 165, 1) 90%,
		rgba(8, 27, 41, 1) 100%
	);
}
.director h1 {
	color: #081b29;
	font-size: 40px;
	text-align: center;
	text-decoration: underline;
	font-family: "EB Garamond", serif;
	padding: 20px;
}
.director q {
	font-weight: 600;
	color: #190952;
	font-size: 20px;
	padding: 10px;
	margin: 5px;
	display: block;
	text-align: center;
	font-style: italic;
	font-family: "Times New Roman", Times, serif;
}
.director p {
	font-size: 18px;
	padding: 20px;
	font-style: italic;
	font-weight: 400;
	color: #2d4356;
	/* backdrop-filter: blur(5px); */
}
.director .name {
	font-weight: 500;
	color: whitesmoke;
	text-align: center;
}

.contact {
	padding: 50px 0;
	background-color: #081b29;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: #fff;
	font-size: 20px;
	flex-wrap: wrap;
}
.contact a {
	text-decoration: none;
	color: #fff;
}
.contact h1 {
	font-size: 60px;
	text-align: center;
	color: #ededed;
	margin-bottom: 30px;
}
.contact h1 span {
	color: skyblue;
}
.contact iframe {
	margin: 30px 0px;
}

footer {
	width: 100%;
	background-color: #347e88;
}
footer p {
	vertical-align: middle;
	text-align: center;
	color: #fff;
	padding: 8px;
	font-size: 15px;
}
/* SHVM FORM */
.container {
	flex: 0 1 700px;
	margin: auto;
	padding: 10px;
	font-weight: 700;
	letter-spacing: 1.4px;
}

.screen {
	position: relative;
	background: #3e3e3ed0;
	border-radius: 15px;
}

.screen:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;
	bottom: 0;
	border-radius: 15px;
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
	z-index: -1;
}

.screen-header {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	background: #4d4d4fce;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.screen-header-left {
	margin-right: auto;
}

.screen-header-button {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin-right: 3px;
	border-radius: 8px;
	background: white;
}

.screen-header-button.close {
	background: #ed1c6f;
}

.screen-header-button.maximize {
	background: #e8e925;
}

.screen-header-button.minimize {
	background: #74c54f;
}

.screen-header-right {
	display: flex;
}

.screen-header-ellipsis {
	width: 3px;
	height: 3px;
	margin-left: 2px;
	border-radius: 8px;
	background: #999;
}

.screen-body {
	display: flex;
}

.screen-body-item {
	flex: 1;
	padding: 30px;
}

.screen-body-item.left {
	display: flex;
	flex-direction: column;
	padding: 50px;
	/* flex-shrink: 2; */
}

.app-title {
	display: flex;
	flex-direction: column;
	position: relative;
	color: skyblue;
	font-size: 26px;
}

.app-title:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: -10px;
	width: 25px;
	height: 4px;
	background: skyblue;
}

.app-contact {
	margin-top: auto;
	font-size: 8px;
	color: #888;
}

.app-form-group {
	margin-bottom: 15px;
}

.app-form-group.message {
	margin-top: 40px;
}

.app-form-group.buttons {
	margin-bottom: 0;
	text-align: right;
}

.app-form-control {
	width: 100%;
	padding: 10px 0;
	background: none;
	border: none;
	border-bottom: 1px solid #666;
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	outline: none;
	transition: border-color 0.2s;
}

.app-form-control::placeholder {
	color: #b7cbce;
}

.app-form-control:focus {
	border-bottom-color: #ddd;
}

.app-form-button {
	background: none;
	border: none;
	color: skyblue;
	font-size: 14px;
	cursor: pointer;
	outline: none;
	padding: 5px;
}

.app-form-button:hover {
	color: #fff;
}

select.app-form-control {
	border: none;
	border-bottom: 1px solid #666;
}

/* .credits {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	color: #ffa4bd;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	font-weight: normal;
} */

/* .credits-link {
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
} */

/* .dribbble {
	width: 20px;
	height: 20px;
	margin: 0 5px;
} */
